<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body ng-controller="yan">
		<div class="neirong" ng-repeat="item in shuju.div1">
			<p class="p1">{{item.num}}</p>
			<div class="bao">
				<div class="xiao"><p>{{item.app1}}</p></div>
				<div class="xiao"><p>{{item.app2}}</p></div>
				<div class="xiao"><p>{{item.app3}}</p></div>
			</div>
			<p class="p2">{{item.data}}</p>
		</div>
		<div class="neirong" ng-repeat="item in shuju.div2">
			<p class="p1">{{item.num}}</p>
			<div class="bao">
				<div class="xiao"><p>{{item.app1}}</p></div>
				<div class="xiao"><p>{{item.app2}}</p></div>
				<div class="xiao"><p>{{item.app3}}</p></div>
			</div>
			<p class="p2">{{item.data}}</p>
		</div>
		<div class="neirong" ng-repeat="item in shuju.div3">
			<p class="p1">{{item.num}}</p>
			<div class="bao">
				<div class="xiao"><p>{{item.app1}}</p></div>
				<div class="xiao"><p>{{item.app2}}</p></div>
				<div class="xiao"><p>{{item.app3}}</p></div>
			</div>
			<p class="p2">{{item.data}}</p>
		</div>
		<div class="neirong" ng-repeat="item in shuju.div4">
			<p class="p1">{{item.num}}</p>
			<div class="bao">
				<div class="xiao"><p>{{item.app1}}</p></div>
				<div class="xiao"><p>{{item.app2}}</p></div>
				<div class="xiao"><p>{{item.app3}}</p></div>
			</div>
			<p class="p2">{{item.data}}</p>
		</div>
		<div id="xianbox">
			<div id="xian">
			<div class="top">
				<div class="quanbu">
					<p>全部</p>
				</div>
			</div>
			
		
		<div class="changjing">
			<div class="left">
				<p>APP</p>
			</div>
			<div class="right">
				<p>H5/web</p>
			</div>
			<span class="spa1">应用场景</span>
		</div>
		<div class="changjing">
			<div class="left">
				<p>APP</p>
			</div>
			<div class="right">
				<p>H5/web</p>
			</div>
			<span class="spa2">应用场景</span>
		</div>
		</div>
		</div>
	</body>
</html>
